// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';


a {
  font-size: 1.2rem;
}

.product-box {
  display: flex;
  justify-content: space-between;
}

.product-description {
  align-self: center;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.highlight-box {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 1rem;
  background: #f4f4f4;
}

.product-content {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.install-box {
  margin: 2rem 0;
  background: #f4f4f4;
}

.install-box__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #e8d9f3;
}

.install-box__content {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.install-box__link {
  display: block;
  margin-bottom: 0.5rem;
}

.note {
  margin: 1rem 2rem;
  padding: 0 1rem;
  border-left: 3px solid #dddddd;
}

.related-box {
  margin: 2rem 0;
}
